<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ServerName" value="localhost"/>
        <add key="DatabaseName" value="northwind"/>
        <add key="DatabaseSchema" value="dbo"/>
        
        <!-- has an input parameter -->
        <add key="StoredProcedure" value="CustOrderHist"/>

        <!-- has an input parameter -->
        <!--<add key="StoredProcedure" value="Ten Most Expensive Products"/>--> 

    </appSettings>
</configuration>